
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@import 'base/variables';
@import 'block/body';
@import 'block/menu';
@import 'block/header';
@import 'block/footer';




@import 'block/media';

