html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}
body .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 200;
}
.navigation__wrapper {
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
}
.navigation__nav-a {
  text-decoration: none;
  padding-left: 71px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
}
.navigation__nav-a:hover {
  color: #01996D;
}
.navigation__nav-a:first-child {
  padding-left: 0;
}

.btn {
  width: 183px;
  height: 51px;
  cursor: pointer;
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
}

.sign-in {
  border: none;
  background-color: white;
  margin-right: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  font-family: "Lato", sans-serif;
}

.hamburger {
  position: absolute;
  display: none;
  top: 50px;
  left: 80%;
  width: 38px;
  height: 18px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 100;
}
.hamburger span {
  margin-top: 3px;
  width: 100%;
  height: 3px;
  background-color: #01996D;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.hamburger_active span:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(315deg);
          transform: translateY(8px) rotate(315deg);
}
.hamburger_active span:nth-child(2) {
  display: none;
}
.hamburger_active span:nth-child(3) {
  -webkit-transform: translateY(2px) rotate(-315deg);
          transform: translateY(2px) rotate(-315deg);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 5;
}
.overlay_active {
  display: block;
  z-index: 5;
}

.header {
  min-height: 895px;
  background: url("../img/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__title {
  font-size: 65px;
  font-weight: bold;
  font-family: "Georgia", serif;
  max-width: 440px;
  color: #01996D;
  margin-top: 0;
  padding-top: 175px;
}
.header__text {
  padding-top: 30px;
  font-size: 20px;
  max-width: 420px;
  color: #484848;
}
.header__btn {
  margin-top: 18px;
  width: 227px;
  height: 65px;
}

.footer {
  background: #245852;
  padding: 95px 0;
}
.footer__logo {
  margin-bottom: 60px;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer li {
  margin-bottom: 60px;
}
.footer__a {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
}

.how-it-works {
  padding-top: 169px;
}
.how-it-works__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.how-it-works__header-left {
  max-width: 584px;
}
.how-it-works__header-left-title-h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
}
.how-it-works__header-left-title-h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}
.how-it-works__header-right {
  margin-top: 20px;
  max-width: 671px;
}
.how-it-works__header-right-p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}
.how-it-works__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.how-it-works__card {
  max-width: 390px;
  max-height: 937px;
}
.how-it-works__card_2 {
  margin-top: 206px;
}
.how-it-works__card_3 {
  margin-top: 40px;
}
.how-it-works__card-number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  color: rgba(1, 153, 109, 0.2);
  z-index: 0;
}
.how-it-works__card-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
  position: absolute;
  z-index: 10;
  margin-top: -95px;
  margin-left: 88px;
}
.how-it-works__card-text {
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}
.how-it-works__card-img {
  padding-top: 60px;
}

.about {
  background: #245852;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 229px 207px 176px;
}
.about__wrapper-left {
  max-width: 560px;
  padding-right: 25px;
}
.about__wrapper-left-h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #FFFFFF;
  padding-top: 40px;
}
.about__wrapper-left-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #FFFFFF;
  padding-top: 33px;
}
.about__wrapper-left-btn {
  margin-top: 57px;
  width: 240px;
  height: 65px;
}
.about__wrapper-right-video {
  width: 895.84px;
  height: 516.11px;
  border-radius: 20px;
}

.product {
  padding-top: 120px;
  padding-bottom: 168px;
}
.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__left {
  position: relative;
  padding-right: 90px;
}
.product__left-img-card {
  position: absolute;
  left: -75px;
  bottom: -70px;
  z-index: 10;
}
.product__right-h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #424242;
  margin-bottom: 10px;
}
.product__right-h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
  margin-bottom: 20px;
}
.product__right-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 144.5%;
  color: #484848;
  margin-bottom: 40px;
}

@media (max-width: 1400px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__wrapper-right {
    padding-top: 25px;
  }
  .about__wrapper-right-video {
    max-width: 895.84px;
  }
  .product__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__left {
    padding-right: 0;
  }
  .product__right {
    padding-top: 150px;
  }
}
@media (max-width: 1280px) {
  .how-it-works__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-it-works__cards-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 30px;
  }
  .about__wrapper-right-video {
    max-width: 700px;
  }
}
@media (max-width: 992px) {
  .navigation__logo {
    padding-top: 45px;
  }
  .navigation__start-btn {
    padding-bottom: 25px;
    padding-left: 15px;
  }
  .navigation__wrapper {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: rgba(207, 222, 218, 0.8);
    top: 0;
    left: -100%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .navigation__wrapper_active {
    left: 0;
  }
  .navigation__nav-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px;
    padding-left: 0;
    font-size: 30px;
  }
  .navigation__start-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    margin-top: 10px;
  }
  .hamburger {
    display: block;
  }
  .hamburger span {
    display: block;
  }
  .sign-in {
    width: 123px;
    height: 51px;
    cursor: pointer;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
  }
  .btn {
    width: 123px;
  }
  .about__wrapper {
    padding: 25px 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__wrapper-right-video {
    max-width: 500px;
    max-height: 300px;
  }
  .product {
    padding-bottom: 50px;
  }
  .product__left-img-card {
    left: 5%;
  }
  .product__left-img-bg {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .how-it-works__cards-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 10px;
  }
  .how-it-works__card-img {
    max-width: 320px;
  }
  .about__wrapper-right-video {
    max-width: 250px;
    max-height: 200px;
  }
}/*# sourceMappingURL=main.css.map */