.header {
    min-height: 895px;
    background: url('../img/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
        font-size: 65px;
        font-weight: bold;
        font-family: 'Georgia', serif;
        max-width: 440px;
        color: #01996D;
        margin-top: 0;
        padding-top: 175px;
    }
    &__text {
        padding-top: 30px;
        font-size: 20px;
        max-width: 420px;
        color: #484848;
    }
    &__btn {
        margin-top: 18px;
        width: 227px;
        height: 65px;
    }
}