
.navigation {
    position: sticky;
    top: 0;
    background: rgba($color: #ffffff, $alpha: 0.9);
    z-index: 200;
    &__wrapper {
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: space-around;
        // background-color:rgb(255, 255, 255);
        align-items: center;
        z-index: 200;
    }
    &__nav-a {
        text-decoration: none;
        padding-left: 71px;
        font-family: $font-lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #292929;
        &:hover {
            color:#01996D;
        }
    }
    &__nav-a:first-child {
        padding-left: 0;
    }
}

.btn {
    width: 183px;
    height: 51px;
    cursor: pointer;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-family: $font-lato;
}

.sign-in {
    border:none;
    background-color:#ffff;
    margin-right: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    font-family: $font-lato;
}

.hamburger {
    position: absolute;
    display: none;
    top: 50px;
    left:80%;
    width: 38px;
    height: 18px;
    cursor: pointer;
    transition: 0.5s all;
    z-index: 100;
    span {
        margin-top: 3px;
        width: 100%;
        height: 3px;
        background-color: #01996D;
        transition: 0.5s all;
    }
    &_active {
        span {
            &:nth-child(1) {
                transform: translateY(8px) rotate(315deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(2px) rotate(-315deg);
            }
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #ffffff, $alpha: 0.5);
    transition: 0.5s all;
    z-index: 5;
    &_active {
        display: block;
        z-index: 5;
    }
}

